In [2]:
#importando librerias
import pandas as pd
from math import sqrt 
import numpy as пр
#import matplotlib.pyplot as pie

In [3]:
#ahora leeremos nuestros datos
movies_df=pd.read_csv("./data/data_procesada/movie.csv")
rating=pd.read_csv("./data/ratings/7.csv")

In [4]:
movies_df.head()

,title,type,director,cast,country,date_added,release_year,rating,listed_in,description,score,id,duration_int,duration_unit,plataforma
0,duck the halls: a mickey mouse christmas special,movie,"alonso ramirez ramos, dave wasson","chris diamantopoulos, tony anselmo, tress macn...",NaN,2021-11-26,2016,tv-g,"animation, family",join mickey and the gang as they duck the halls!,100,ds1,23,min,disney
1,ernest saves christmas,movie,john cherry,"jim varney, noelle parker, douglas seale",NaN,2021-11-26,1988,pg,comedy,santa claus passes his magic bag to a new st. ...,17,ds2,91,min,disney
2,ice age: a mammoth christmas,movie,karen disher,"raymond albert romano, john leguizamo, denis l...",united states,2021-11-26,2011,tv-g,"animation, comedy, family",sid the sloth is on santa's naughty list.,92,ds3,23,min,disney
3,the queen family singalong,movie,hamish hamilton,"darren criss, adam lambert, derek hough, alexa...",NaN,2021-11-26,2021,tv-pg,musical,"this is real life, not just fantasy!",35,ds4,41,min,disney
4,the beatles: get back,tv show,NaN,"john lennon, paul mccartney, george harrison, ...",NaN,2021-11-25,2021,g,"docuseries, historical, music",a three-part documentary from peter jackson ca...,11,ds5,1,season,disney

In [5]:
#vamos a crear lista de generos para despues hacer el procesamiento oo
movies_df['listed_in']=movies_df.listed_in.str.split(',')
#implemerntacion de las tecnicas one hot
movies_df_co=movies_df.copy()

In [6]:

for index,row in movies_df.iterrows():
    for genre in row['listed_in']:
        movies_df_co.at[index,genre.strip()]=1

/tmp/ipykernel_601/603156453.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  movies_df_co.at[index,genre.strip()]=1
/tmp/ipykernel_601/603156453.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  movies_df_co.at[index,genre.strip()]=1
/tmp/ipykernel_601/603156453.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  movies_df_co.at[index,genre.strip()]=1
/tmp/ipykernel_601/603156453.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  movies_df_co.at[index,genre.strip()]=1
/tmp/ipykernel_601/603156453.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  movies_df_co.at[index,genre.strip()]=1
/tmp/ipykernel_601/603156453.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  movies_df_co.at[index,genre.strip()]=1
/tmp/ipykernel_601/603156453.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  movies_df_co.at[index,genre.strip()]=1
/tmp/ipykernel_601/603156453.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  movies_df_co.at[index,genre.strip()]=1
/tmp/ipykernel_601/603156453.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  movies_df_co.at[index,genre.strip()]=1
/tmp/ipykernel_601/603156453.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  movies_df_co.at[index,genre.strip()]=1
/tmp/ipykernel_601/603156453.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  movies_df_co.at[index,genre.strip()]=1
/tmp/ipykernel_601/603156453.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  movies_df_co.at[index,genre.strip()]=1
/tmp/ipykernel_601/603156453.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  movies_df_co.at[index,genre.strip()]=1
/tmp/ipykernel_601/603156453.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  movies_df_co.at[index,genre.strip()]=1
/tmp/ipykernel_601/603156453.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  movies_df_co.at[index,genre.strip()]=1
/tmp/ipykernel_601/603156453.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  movies_df_co.at[index,genre.strip()]=1
/tmp/ipykernel_601/603156453.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  movies_df_co.at[index,genre.strip()]=1
/tmp/ipykernel_601/603156453.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  movies_df_co.at[index,genre.strip()]=1
/tmp/ipykernel_601/603156453.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  movies_df_co.at[index,genre.strip()]=1
/tmp/ipykernel_601/603156453.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  movies_df_co.at[index,genre.strip()]=1
/tmp/ipykernel_601/603156453.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  movies_df_co.at[index,genre.strip()]=1
/tmp/ipykernel_601/603156453.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  movies_df_co.at[index,genre.strip()]=1

In [7]:
#asignamos un cero a als peliculas que no corresponden 
movies_df_co.fillna(0,inplace=True)

In [8]:
#mostrando las peliculas codificadas 
print('las tablas codificadas son las siguiente \n ')
movies_df_co.iloc[:, [0,11] + list(range(15, len(movies_df_co.columns)))]

las tablas codificadas son las siguiente

,title,id,animation,family,comedy,musical,docuseries,historical,music,biographical,...,latino,late night,sketch comedy,classics,lgbtq+,adult animation,sitcom,game shows,cartoons,science & technology
0,duck the halls: a mickey mouse christmas special,ds1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ernest saves christmas,ds2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ice age: a mammoth christmas,ds3,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,the queen family singalong,ds4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,the beatles: get back,ds5,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,star trek: the original series,hs3069,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
22994,star trek: voyager,hs3070,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22995,the fades,hs3071,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22996,the twilight zone,hs3072,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
22997,tokyo magnitude 8.0,hs3073,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
#eliminando las columnas que no necesitamos
rating=rating.drop(columns='timestamp')

## Creacion de nuestro algoritmo

In [10]:
print(movies_df_co.title.unique())

['duck the halls: a mickey mouse christmas special'
 'ernest saves christmas' 'ice age: a mammoth christmas' ...
 'star trek: the original series' 'the twilight zone'
 'tokyo magnitude 8.0']

In [11]:
#haciendo el perfil del usuario
usuario=[
    {'title':'madonna and the breakfast club','rating':5},
    {'title':'toy story','rating':3.5},
    {'title':'frozen 2','rating':2},
    {'title':'pulp fiction','rating':5},
    {'title':'(dub) akira','rating':4.5},

]

In [12]:
entrada_peli=pd.DataFrame(usuario)
entrada_peli

                            title  rating
0  madonna and the breakfast club     5.0
1                       toy story     3.5
2                        frozen 2     2.0
3                    pulp fiction     5.0
4                     (dub) akira     4.5

In [13]:
#codificacion en one hot de las pelis del usuario
# primero vemos si las peliculass del ususario estan en nuestro data set
movies_df_co.rename(columns={'id':'movieId'},inplace=True)
index=movies_df_co[movies_df_co['title'].isin(entrada_peli['title'].str.strip()).tolist()]
index['movieId']=index['movieId'].str.strip()

/tmp/ipykernel_601/1882693621.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  index['movieId']=index['movieId'].str.strip()

In [14]:
index

,title,type,director,cast,country,date_added,release_year,rating,listed_in,description,...,latino,late night,sketch comedy,classics,lgbtq+,adult animation,sitcom,game shows,cartoons,science & technology
604,frozen 2,movie,"chris buck, jennifer lee","kristen bell, idina menzel, josh gad, jonathan...",united states,2020-03-14,2019,pg,"[action-adventure, animation, family]",elsa journeys into the unknown to uncover trut...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1377,toy story,movie,john lasseter,"tom hanks, tim allen, don rickles, jim varney,...",united states,2019-11-12,1995,g,"[action-adventure, animation, buddy]","meet woody, buzz and the gang in an adventure ...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18920,pulp fiction,movie,quentin tarantino,"john travolta, samuel l. jackson, uma thurman,...",united states,2019-01-01,1994,r,"[classic movies, cult movies, dramas]",this stylized crime caper weaves together stor...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21957,madonna and the breakfast club,movie,0,0,united states,2019-10-11,2019,105 min,"[documentaries, drama]",the incredible untold story of pop icon madonn...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22663,(dub) akira,movie,0,0,0,2017-03-17,1988,r,"[action, adult animation, anime]",clandestine army activities threaten the war t...,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [15]:
entrada_peli=entrada_peli.merge(index,on='title',how='outer')
entrada_peli

,title,rating_x,type,director,cast,country,date_added,release_year,rating_y,listed_in,...,latino,late night,sketch comedy,classics,lgbtq+,adult animation,sitcom,game shows,cartoons,science & technology
0,madonna and the breakfast club,5.0,movie,0,0,united states,2019-10-11,2019,105 min,"[documentaries, drama]",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,toy story,3.5,movie,john lasseter,"tom hanks, tim allen, don rickles, jim varney,...",united states,2019-11-12,1995,g,"[action-adventure, animation, buddy]",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,frozen 2,2.0,movie,"chris buck, jennifer lee","kristen bell, idina menzel, josh gad, jonathan...",united states,2020-03-14,2019,pg,"[action-adventure, animation, family]",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,pulp fiction,5.0,movie,quentin tarantino,"john travolta, samuel l. jackson, uma thurman,...",united states,2019-01-01,1994,r,"[classic movies, cult movies, dramas]",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,(dub) akira,4.5,movie,0,0,0,2017-03-17,1988,r,"[action, adult animation, anime]",...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [16]:
entrada_peli=entrada_peli.iloc[:, [0,1,12] + list(range(17, len(movies_df_co.columns)))]

In [17]:
entrada_peli

,title,rating_x,movieId,family,comedy,musical,docuseries,historical,music,biographical,...,black stories,latino,late night,sketch comedy,classics,lgbtq+,adult animation,sitcom,game shows,cartoons
0,madonna and the breakfast club,5.0,hs2033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,toy story,3.5,ds1378,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,frozen 2,2.0,ds605,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,pulp fiction,5.0,ns7803,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,(dub) akira,4.5,hs2739,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [18]:
#creando la matriz de peso
#utilizamos una matriz. qu sepraliza con la funcion DOC
#resetiamos el indice
entrada_peli.reset_index(drop=True,inplace=True)

In [19]:
#creando la tabla de generos del perefil del usuario
tabla_generos=entrada_peli.iloc[:,3:]
tabla_generos

,family,comedy,musical,docuseries,historical,music,biographical,documentary,action-adventure,superhero,...,black stories,latino,late night,sketch comedy,classics,lgbtq+,adult animation,sitcom,game shows,cartoons
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [20]:
entrada_peli['rating_x']

0    5.0
1    3.5
2    2.0
3    5.0
4    4.5
Name: rating_x, dtype: float64

creando nuestra matriz de peso

In [21]:
perfil_usuario=tabla_generos.transpose().dot(entrada_peli['rating_x'])
#categorias que prefiere elussuario
perfil_usuario

family             2.0
comedy             0.0
musical            0.0
docuseries         0.0
historical         0.0
                  ...
lgbtq+             0.0
adult animation    4.5
sitcom             0.0
game shows         0.0
cartoons           0.0
Length: 118, dtype: float64

In [22]:
perfil_usuario.sort_values(ascending=False)

action-adventure    5.5
cult movies         5.0
classic movies      5.0
documentaries       5.0
drama               5.0
                   ...
series              0.0
dance               0.0
western             0.0
talk show           0.0
cartoons            0.0
Length: 118, dtype: float64

In [23]:
generos=movies_df_co.set_index(movies_df_co['movieId'])

In [24]:
generos=generos.iloc[:,16:]

In [25]:
generos

,family,comedy,musical,docuseries,historical,music,biographical,documentary,action-adventure,superhero,...,latino,late night,sketch comedy,classics,lgbtq+,adult animation,sitcom,game shows,cartoons,science & technology
movieId,,,,,,,,,,,,,,,,,,,,,
ds1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ds2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ds3,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ds4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ds5,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
hs3069,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
hs3070,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
hs3071,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
hs3072,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
hs3073,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
perfil_usuario

family             2.0
comedy             0.0
musical            0.0
docuseries         0.0
historical         0.0
                  ...
lgbtq+             0.0
adult animation    4.5
sitcom             0.0
game shows         0.0
cartoons           0.0
Length: 118, dtype: float64

In [27]:
((generos*perfil_usuario).sum(axis=1))

movieId
ds1       2.0
ds2       0.0
ds3       2.0
ds4       0.0
ds5       0.0
         ...
hs3069    4.5
hs3070    4.5
hs3071    0.0
hs3072    0.0
hs3073    9.5
Length: 22998, dtype: float64

In [28]:
#creaando el promedio ponderado para recomendar nuestra peliculas
recom=((generos*perfil_usuario).sum(axis=1))/(perfil_usuario.sum())
recom

movieId
ds1       0.040404
ds2       0.000000
ds3       0.040404
ds4       0.000000
ds5       0.000000
            ...
hs3069    0.090909
hs3070    0.090909
hs3071    0.000000
hs3072    0.000000
hs3073    0.191919
Length: 22998, dtype: float64

In [29]:
recom=recom.sort_values(ascending=False)

In [30]:
recom

movieId
ns7803    0.303030
ns6032    0.303030
ns7709    0.303030
as8744    0.282828
hs3014    0.282828
            ...
ns3793    0.000000
ns3794    0.000000
ns3795    0.000000
as5941    0.000000
ns382     0.000000
Length: 22998, dtype: float64

In [31]:
#tabla de recomendacionfinal
final=movies_df_co.loc[movies_df_co['movieId'].isin(recom.head(20).keys())]
nfinal=final[['title']]

In [32]:
nfinal

                                      title
205                               red tails
250    white fang 2: myth of the white wolf
347                                   mulan
589           the boy who talked to badgers
606                        the finest hours
631                           the lion king
1242            the adventures of huck finn
1291              the journey of natty gann
1337                      the sign of zorro
1359               the young black stallion
1404                             white fang
10193          goshogun: the time etrainger
17149                    a clockwork orange
18826                      paris is burning
18920                          pulp fiction
20738                             megalobox
22663                           (dub) akira
22664                           (sub) akira
22761         prince of stride: alternative
22938                      samurai champloo

Una vez que toda la data es consumible por la API, está lista para consumir por los departamentos de Analytics y Machine Learning, y nuestro EDA nos permite entender bien los datos a los que tenemos acceso, es hora de entrenar nuestro modelo de machine learning para armar un sistema de recomendación de películas. Éste consiste en recomendar películas a los usuarios basándose en películas similares, por lo que se debe encontrar la similitud de puntuación entre esa película y el resto de películas, se ordenarán según el score y devolverá una lista de Python con 5 valores, cada uno siendo el string del nombre de las películas con mayor puntaje, en orden descendente. Debe ser deployado como una función adicional de la API anterior y debe llamarse get_recommendation(titulo: str).

In [4]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [5]:
movies_df=pd.read_csv("./data/data_procesada/movie.csv")
rating=pd.read_csv("./data/ratings/7.csv")

In [36]:
movies_df.head()

,title,type,director,cast,country,date_added,release_year,rating,listed_in,description,score,id,duration_int,duration_unit,plataforma
0,duck the halls: a mickey mouse christmas special,movie,"alonso ramirez ramos, dave wasson","chris diamantopoulos, tony anselmo, tress macn...",NaN,2021-11-26,2016,tv-g,"animation, family",join mickey and the gang as they duck the halls!,100,ds1,23,min,disney
1,ernest saves christmas,movie,john cherry,"jim varney, noelle parker, douglas seale",NaN,2021-11-26,1988,pg,comedy,santa claus passes his magic bag to a new st. ...,17,ds2,91,min,disney
2,ice age: a mammoth christmas,movie,karen disher,"raymond albert romano, john leguizamo, denis l...",united states,2021-11-26,2011,tv-g,"animation, comedy, family",sid the sloth is on santa's naughty list.,92,ds3,23,min,disney
3,the queen family singalong,movie,hamish hamilton,"darren criss, adam lambert, derek hough, alexa...",NaN,2021-11-26,2021,tv-pg,musical,"this is real life, not just fantasy!",35,ds4,41,min,disney
4,the beatles: get back,tv show,NaN,"john lennon, paul mccartney, george harrison, ...",NaN,2021-11-25,2021,g,"docuseries, historical, music",a three-part documentary from peter jackson ca...,11,ds5,1,season,disney

In [42]:
def get_recomendaciones(title:str):
    df_ml=pd.read_csv("./data/data_procesada/movie.csv")
    #creando el vectorizador TF-IDF
    vectorizador=TfidfVectorizer()
    #aplicando el vectorizador a la columna listed_in para optner la matriz de caracteristicas
    tfid_matrix=vectorizador.fit_transform(movies_df['listed_in'])
    #calcular la matriz de similitud de coseno
    cosine_sim=cosine_similarity(tfid_matrix)
    #Obtener el indice de la pelicula seleccionada
    idx=movies_df.index[movies_df['title']==title.lower()].tolist()[0]
    #obteniendo las puntuciones de similitud
    sim_scores=list(enumerate(cosine_sim[idx]))
    #Ordenando las peliculas segun el puntaje de similitud
    sim_scores=sorted(sim_scores,key=lambda x:x[1],reverse=True) 
    #obteniendo los puntajes de las 5 peliculas mas similares
    sim_scores=[i for i in sim_scores if movies_df.index[i[0]]!=idx]
    sim_scores=sim_scores[:5]
    #obteniendo los indices de las peliculas mas similares
    recomendaciones=df_ml.iloc[[i[0] for i in sim_scores]]['title'].tolist()
    #devolviendo las peliculas mas similares
    return recomendaciones

In [43]:
get_recomendaciones('toy story')

:

:

In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.utils.extmath import randomized_svd
from sklearn.feature_extraction.text import TfidfVectorizer


vectorizer = TfidfVectorizer(min_df=10, max_df=0.5, ngram_range=(1,2))
similarity_matrix = cosine_similarity(X[:500,:])
n_components = 10
U, Sigma, VT = randomized_svd(similarity_matrix, n_components=n_components)

NameError: name 'X' is not defined

con estas librerias y estos parametros lo podes hacer , te recomiendo que lo hagas asi yo renegue con surprise

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Cargar los datos
movies_df = pd.read_csv('./data/data_procesada/movie.csv')

# Crear la matriz TF-IDF
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(movies_df['listed_in'])

# Calcular la similitud del coseno
cosine_sim = cosine_similarity(tfidf_matrix)

# Obtener las películas más similares a una película dada
def get_recommendations(title):
    idx = movies_df.index[movies_df['title'] == title].tolist()[0]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:6]
    movie_indices = [i[0] for i in sim_scores]
    lista=movies_df['title'].iloc[movie_indices]
    return [i for i in lista ]

print(get_recommendations('toy story'))

["disney mickey and the roadster racers - chip 'n' dale's nutty tales (shorts)", "marvel's rocket & groot (shorts)", 'the fox and the hound', 'the fox and the hound 2', 'the good dinosaur']

In [2]:
lista=get_recommendations('toy story')

In [6]:
for i in lista:
    print(i)

disney mickey and the roadster racers - chip 'n' dale's nutty tales (shorts)
marvel's rocket & groot (shorts)
the fox and the hound
the fox and the hound 2
the good dinosaur

In [8]:
[i for i in get_recommendations('toy story') ]

["disney mickey and the roadster racers - chip 'n' dale's nutty tales (shorts)",
 "marvel's rocket & groot (shorts)",
 'the fox and the hound',
 'the fox and the hound 2',
 'the good dinosaur']